@import "alert";
@import "avatars";
@import "badges";
@import "card";

.intro {
  background-image: url('https://unsplash.it/400/550?image=1080');
  background-size: cover;
  height: 80vh;
  padding-bottom: 30px;
  vertical-align: center;
}
 h1 {
  padding-top: 40px;
  font-family: 'Cabin', sans-serif;
 }

.content {
  padding-top: 50px;
}
